<% room_pictures = ["https://images.pexels.com/photos/14025904/pexels-photo-14025904.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/12119319/pexels-photo-12119319.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1","https://images.pexels.com/photos/14547139/pexels-photo-14547139.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/1329711/pexels-photo-1329711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/6782567/pexels-photo-6782567.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/262048/pexels-photo-262048.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/2747901/pexels-photo-2747901.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/6480198/pexels-photo-6480198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", "https://images.pexels.com/photos/7018391/pexels-photo-7018391.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"] %>


<div class="cards">
  <% @rooms.each do |room| %>
    <% room_picture = room_pictures[@rooms.index(room)] %>
    <%= link_to room_path(room), class:"link_card" do %>
      <div class="card-trip">
        <%= image_tag(room_picture) %>
        <div class="card-trip-infos">
          <div>
            <h2>Chambre pour <%=room.capacity%> personnes</h2>
            <p><%= room.hotel.name %></p>
          </div>
          <h2 class="card-trip-pricing"><%= room.price_per_night %>€ / nuit</h2>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
